.game {
    height: 100%;
    padding-top: 3em;
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.game-progress {
    display: flex;
    justify-content: flex-start;
    padding-left: 6em;
    padding-bottom: 6em;
    background-color: rgb(244, 244, 244);
}

.game-progress .progress-label {
    font-size: 0.7em;
}

.game-body {
    background-color: rgb(244, 244, 244);
    /* padding-bottom: 15em; */
}